<h2>Disable account</h2>
<p>Are you sure you want to disable your account? If you disable your account you won't be able to:</p>
<ul>
  <li>Explore suggestions</li>
  <li>Like new people</li>
  <li>Match with new people</li>
</ul>
<div class="button-container">
  <button mat-raised-button color="accent" (click)="disable()" class="action-button" mat-dialog-close>Yes, I want to disable my account</button>
  <button mat-raised-button color="primary" class="action-button" mat-dialog-close>No, I'll stay online</button>
</div>
