.page-footer {
  background: #845ec2;
  bottom: 0;
  line-height: 2.75rem;
  font-size: 1.125rem;
  font-weight: lighter;
  letter-spacing: 4px;
}

.footer-copyright {
  background: #845ec2;
  color: black;
}

.footer-copyright a {
  color: black;
  font-weight: bold;
}
